<%- include("../includes/head.ejs") %>

<% if(noUser && incorrectPassword) { %>
    <div><%= noUser %></div>
<% } %>
<% if(noUser) { %>
    <div><%= noUser %></div>
<% } %>
<% if(incorrectPassword) { %>
    <div><%= incorrectPassword %></div>
<% } %>
<!-- Login form -->    
<form action="http://localhost:5000/login" method="POST">

   

        <input type="text" placeholder="Username" name="username">
        <input type="text" placeholder="Password" name="password">   
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <button type="submit" class="btn btn-primary">Log In</button>

    </form>

</div>
</body>
</html>