<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/css/sizing.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <style type="text/css">
        .bs-example{
            margin: 20px;
        }
    </style>
</head>
<body>
                <div id="pre-header-container" class="row">

                       <div class="col-md-1 col-lg-1 col-xl-1"></div>  
                        <div class="col-md-6 col-lg-6 col-xl-7 my-auto mx-auto" id="header-text"> <span class="text-primary">SPECIAL OFFER :</span> PRODUCT NAME</div>
                        <input type="text" placeholder="Search.." class="form-control col-md-2 col-lg-2 col-xl-2 my-auto">
                        <img src="/img/brand.svg" width="7%" height="7%" alt="no imge" class="mx-auto col-md-3 col-lg-3 col-xl-2 my-2">



                </div>

                <nav class="navbar navbar-expand-md navbar-dark bg-primary">
                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>
            
                    <div class="collapse navbar-collapse" id="navbarCollapse">
                        <div class="navbar-nav">
                            <a href="/" class="nav-item nav-link text-white  <%= path === '/home' ? 'activated' : '' %>">Home</a>
                            <a href="/products" class="nav-item nav-link text-white <%= path === '/products' ? 'activated' : '' %>">Products</a>
                            <% if(!isLoggedIn) { %>
                            <a href="/login" class="nav-item nav-link text-white <%= path === '/login' ? 'activated' : '' %>">Log In</a>
                            <a href="/signup" class="nav-item nav-link text-white <%= path === '/signup' ? 'activated' : '' %>">Sign Up</a>
                            <% } %>
                            <% if(isLoggedIn) { %>
                            <a href="/cart" class="nav-item nav-link text-white  <%= path === '/cart' ? 'activated' : '' %>">Cart</a>
                            <a href="/order" class="nav-item nav-link text-white  <%= path === '/order' ? 'activated' : '' %>">Orders</a>
                            <a href="http://localhost:5000/admin/add-product" class="nav-item nav-link text-white <%= path === '/add-product' ? 'activated' : '' %>">Add Product</a>
                            <a href="http://localhost:5000/admin/manage-products" class="nav-item nav-link text-white <%= path === '/manage-products' ? 'activated' : '' %>">Manage Products</a>
                            <a href="/logout" class="nav-item nav-link text-white">Log Out</a>
                            <% } %>


                        </div>              

                    </div>
                </nav>